body {
    /* display: flex; */
    background-image: url("images/backgroundcorr063.svg");
    background-size: cover;
    font-family: "Iceland", serif;
    margin: 0;
    /* width: 23vw; */
    height: 130vh;
    overflow: scroll;
}

/* svg {
    width: 50%;
    height: 50%;
} */

.text-c {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
      margin-top: 100px; 
}
h1 {
    position: relative;
    top: 30%;
    /*left: 16.2vw; */
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 120px;
    color: white;
    margin: 0 auto;
    text-align: center;
}

h2 {
    /* display:flex; */
    position: relative;
     top: 35%;
    /*left: 35vw; */
    text-align: center;
    /* justify-content: center;
    align-items: center; */
    margin: 0 auto;
    font-weight: 400;
    font-size: 80px;
    color: white;
}
h3{ /*position:relative;
    /*top: 49vh;
    left: 35.5vw; */
    /* text-align: center; */
    font-weight: 400;
    font-style: 50px;
    font-size: 3vw;
    margin: auto;
    color: white;
    
}

#dragon-head {
    position: absolute;
    top: 47%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 50%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto;
    display: block;
    transform: scale(.9);
}
/*Icon container*/
.icon-container {
    width: 70%;
    height: 10%;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 25px;
    background-color: rgba(244, 236, 244, 0.358);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row: 1fr;
    justify-content: center;
    grid-gap:20px;

}
/* TO DO: icon sizing */
.icon-container a svg {
    width: 7%; 
    height: auto; 
    margin: auto; 
}
.icon-container {
    width: 70%;
    height: 10%;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 25px;
    background-color: rgba(244, 236, 244, 0);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row: 1fr;
    justify-content: center;
    grid-gap:20px;

}
/* trying to adjust the size of the svg /
.icon-container a svg {
    width: 15%; 
    height: auto; / Maintain aspect ratio /
    margin: auto; / Center the SVG */


#mail{
   /* transform: scale(.1); */
   fill: white;
   position: absolute;
    /* top: 69%; */
    /* left: 2%; */
    /* width: 50%; Adjust as needed */
    /* height: auto; Maintain aspect ratio */
    /* margin: 0 auto; */
    /* display: block; */
  
}

/* settings for mobile layout */
@media (max-width: 900px) {
    body {
        font-size: 0.8em; /* Adjust the base font size as needed */
    }

    h1 {
        font-size: 60px; 
    }

    h2 {
        font-size: 40px; 
    }

    h3 {
        font-size: 20px; 
    }
    .text-c {
       margin-top:100px;
    }

}